#img {
  width: 7em;
  height: 7em;
  float: left;
  margin-right: 2em;
}

.description {
  text-align: center;
  line-height: normal;
  color: #666869;
  align-items: baseline;
  margin-top: 2em;
}

.artist {
  color: #666869;
}
